In [1]:
import numpy as np
import pricers
import option
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt

In [2]:
S = 41.0
K = 40.0
r = 0.08
v = 0.30
q = 0.0
T = 1.0
M = 10000 # number of MC replications
N = 252   # number of MC steps in a particular path

## Problem 1

In [3]:
theCall=option.VanillaOption(K,T,option.call_payoff)

callPrc=pricers.naive_monte_carlo_pricer(theCall,r,v,q,S,M)

print(f'European Call: price is {callPrc.price:.2f} and standard error is {callPrc.stderr:.2f}')

European Call: price is 6.95 and standard error is 0.08

In [4]:
thePut=option.VanillaOption(K,T,option.put_payoff)

putPrc=pricers.naive_monte_carlo_pricer(thePut,r,v,q,S,M)
print(f'European Put: price is {putPrc.price:.2f} and standard error is {putPrc.stderr:.2f}')

European Put: price is 2.86 and standard error is 0.03

In [5]:
Mlist=[1000,10000,25000,50000,75000,100000]

In [6]:
theCall=option.VanillaOption(K,T,option.call_payoff)
MCstuff={}
for values in Mlist:
    MCstuff[values]=pricers.naive_monte_carlo_pricer(theCall,r,v,q,S,values)

### Answer p1

In [7]:
for x in MCstuff:
    print(f'For {x} iterations. We got a price of ${MCstuff[x][0]:.2f} and a standard error or {MCstuff[x][1]:.2f}.')

For 1000 iterations. We got a price of $7.21 and a standard error or 0.25.
For 10000 iterations. We got a price of $6.93 and a standard error or 0.08.
For 25000 iterations. We got a price of $7.03 and a standard error or 0.05.
For 50000 iterations. We got a price of $6.91 and a standard error or 0.03.
For 75000 iterations. We got a price of $6.93 and a standard error or 0.03.
For 100000 iterations. We got a price of $6.97 and a standard error or 0.02.

In [8]:
table=pd.DataFrame(MCstuff)

In [9]:
mc=table.T.rename(columns={0:'MC Price',1:'MC stder'})

# Problem 2

In [10]:
theCall2=option.VanillaOption(K,T,option.call_payoff)

callPrc2=pricers.antithetic_monte_carlo_pricer(theCall2,r,v,q,S,M)

print(f'European Call: price is {callPrc2.price:.2f} and standard error is {callPrc2.stderr:.2f}')

European Call: price is 6.96 and standard error is 0.08

In [11]:
thePut2=option.VanillaOption(K,T,option.put_payoff)

putPrc2=pricers.antithetic_monte_carlo_pricer(thePut2,r,v,q,S,M)
print(f'European Put: price is {putPrc2.price:.2f} and standard error is {putPrc2.stderr:.2f}')

European Put: price is 2.88 and standard error is 0.03

In [12]:
theCall2=option.VanillaOption(K,T,option.call_payoff)
MCstuff2={}

for values in Mlist:
    MCstuff2[values]=pricers.antithetic_monte_carlo_pricer(theCall2,r,v,q,S,values)

for x in MCstuff2:
    print(f'For {x} iterations. We got a price of ${MCstuff2[x][0]:.2f} and a standard error or {MCstuff2[x][1]:.2f}.')

For 1000 iterations. We got a price of $7.02 and a standard error or 0.24.
For 10000 iterations. We got a price of $7.03 and a standard error or 0.08.
For 25000 iterations. We got a price of $7.02 and a standard error or 0.05.
For 50000 iterations. We got a price of $6.95 and a standard error or 0.03.
For 75000 iterations. We got a price of $6.97 and a standard error or 0.03.
For 100000 iterations. We got a price of $6.96 and a standard error or 0.02.

In [13]:
table=pd.DataFrame(MCstuff2)
anti=table.T.rename(columns={0:'Anti Price',1:'Anti stder'})

In [20]:
prob2=mc.join(anti)
prob2

        MC Price  MC stder  Anti Price  Anti stder
1000    7.206074  0.246855    7.015596    0.240330
10000   6.928028  0.075050    7.025075    0.076102
25000   7.033462  0.048188    7.016534    0.048072
50000   6.909086  0.033472    6.948007    0.033660
75000   6.931966  0.027420    6.970236    0.027572
100000  6.973688  0.023889    6.958405    0.023837

# Problem 3

In [15]:
theCall3=option.VanillaOption(K,T,option.call_payoff)
MCstuff3={}

for values in Mlist:
    MCstuff3[values]=pricers.stratifiedSample(theCall3,r,v,q,S,values)

for x in MCstuff3:
    print(f'For {x} iterations. We got a price of ${MCstuff3[x][0]:.2f} and a standard error or {MCstuff3[x][1]:.2f}.')

For 1000 iterations. We got a price of $6.97 and a standard error or 0.24.
For 10000 iterations. We got a price of $6.96 and a standard error or 0.08.
For 25000 iterations. We got a price of $6.96 and a standard error or 0.05.
For 50000 iterations. We got a price of $6.96 and a standard error or 0.03.
For 75000 iterations. We got a price of $6.96 and a standard error or 0.03.
For 100000 iterations. We got a price of $6.96 and a standard error or 0.02.

In [16]:
table=pd.DataFrame(MCstuff3)
strat=table.T.rename(columns={0:'Strat Price',1:'Strat stder'})

        Strat Price  Strat stder
1000       6.968349     0.238712
10000      6.960461     0.075402
25000      6.960667     0.047690
50000      6.961218     0.033724
75000      6.960929     0.027535
100000     6.960956     0.023846

In [30]:
prob3=prob2.join(strat)
prob3

        MC Price  MC stder  Anti Price  Anti stder  Strat Price  Strat stder
1000    7.206074  0.246855    7.015596    0.240330     6.968349     0.238712
10000   6.928028  0.075050    7.025075    0.076102     6.960461     0.075402
25000   7.033462  0.048188    7.016534    0.048072     6.960667     0.047690
50000   6.909086  0.033472    6.948007    0.033660     6.961218     0.033724
75000   6.931966  0.027420    6.970236    0.027572     6.960929     0.027535
100000  6.973688  0.023889    6.958405    0.023837     6.960956     0.023846

In [26]:
prob3.mean()

MC Price       6.997050
MC stder       0.075813
Anti Price     6.988975
Anti stder     0.074929
Strat Price    6.962097
Strat stder    0.074485
dtype: float64

In [ ]:
"""
Observations
1) Standard error is higher with smaller observations
3) Stratified sampling reduces the standard error relative to naive pricing and antithetic sampling; 
   however, the difference between standard errors diminishes as the overall sample size increases. 
   For example, with 1,000 observations, the stratified sampling method reduces the standard error relative 
   to the naive pricer by 0.008143, but at 100,000 observations, the stratified sampling method reduces the 
   standard error relative to the naive pricer by only 0.000043.
"""